a {
  color: #FF8000;
}

a:hover {
  color: #ff3d00;
}

a img {
  width: 90px;
  height:80px;
}

/** Fixation du menu au sommet de l'écran **/
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}

/** !lorsque l'on se situe sur une page, le lien du menu correspondant devient rouge **/
.active{
  color: #ff3d00;
}

@media (min-width: 768px) {
  navbar-fixed-top {
    border-radius: 0;
  }
}

/* Nav / Navbar Styles
===================================*/
.navbar {
  border-bottom: none;
  padding: 30px 0;
  transition-duration: 0.6s;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
  color: #183532;
}

.taille-text-avant-scroll {
  font-size: 135%;
}

/* jQuery Styles
===================================*/
.navbar-scroll {
  padding: 0;
  background-color: #f5f5dcbf;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
  transition-duration: 0.6s;
}

.nav-dropdown-scroll {
  background: #e7eaea;
  box-shadow: 0px 10px 9px rgba(0, 0, 0, 0.4);
}

.taille-text-apres-scroll {
  font-size: 115%;
}
