<nav class="navbar navbar-expand-lg navbar-light BG-LIGHT navbar-default navbar-fixed-top" id="myScrollspy">
  <!-- Logo du site -->
  <a class="collapse navbar-collapse" routerLink="/">
    <img class="border rounded-circle border-danger" [src] = "imageLogo" alt="">
  </a>

  <!-- Bouton apparaissant lorsque la taille de l'écran de vient trop petite -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Liens de naviguation -->
  <div id="navbar" class="collapse navbar-collapse" id="navbarSupportedContent" data-role="navbar">
    <ul class="mr-auto nav navbar-right">
      <li class="nav-item">
        <a class="nav-link" routerLink="/display-info" routerLinkActive="active">Actualité manga <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ui-btn-active">
        <a class="nav-link" href="#">Actualité anime</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Actualité film animation</a>
      </li>
    </ul>

    <!-- Barre de recherche -->
    <form class="form-inline my-2 my-lg-0">
      <app-barre-recherche></app-barre-recherche>
    </form>
  </div>
</nav>
