.searchbar{
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color: #c1bdbd5c;
  border-radius: 21px;
  padding: 10px;
}

.search-input{
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color:transparent;
  line-height: 40px;
  transition: width 0.4s linear;
}

.searchbar:hover > .search-input{
  padding: 0 10px;
  width: 150px;
  caret-color:#ff7800;
  transition: width 0.4s linear;
}

.searchbar:hover > .search-icon{
  background: white;
  color: #ff7800;
}

.search-icon{
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color:white;
  text-decoration: none;
}

::placeholder {
  color: #3d3d3d;
}

[placeholder] {
  color: #ff7800;
}
