<!-- Menu + Barre de recherche -->
<section class="menu">
  <app-menu-site></app-menu-site>
</section>
<!-- Haut de page -->
<section class="top-page">
  <div class="container">
    <div class="row">
      <h1 class="top-page-mangas col-md-9 col-lg-9 mx-auto">MANGAS</h1>
      <h2 class="top-page-animes col-md-3 col-lg-3 mx-auto">ANIMES</h2>
    </div>
  </div>
</section>

<!--
<nav>
  <a routerLink="/" routerLinkActive="active">Accueil</a>
  <a routerLink="/wiki" routerLinkActive="active">Wiki du site</a>
</nav>
-->

<!-- <a [routerLink]="['/slack/channels', channel.id]" class="btn btn-default">Retour au channel</a> -->



<section>
  <router-outlet></router-outlet>
</section>

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 mx-auto">
        <p>© 2019 ManA</p>
      </div>

      <div class="col-lg-9 mx-auto">
        <p>Toutes les images et photos sont sous © Copyright donc la propriété de leurs auteurs et éditeurs respectifs.</p>
      </div>
    </div>
  </div>
</footer>

