<div class="container">
  <div class="row">
    <div class="article col-md-4 col-lg-3">
      <p>
          <a class="#" routerLink="/contenu-article">
            <img class="border" [src] = "imageLogo" alt="">
            <span>Quod si rectum statuerimus vel concedere amicis, quidquid velint, vel impetrare ab iis, quidquid...</span>
        </a>
      </p>
      <p></p>
    </div>
    <div class="article col-md-4 col-lg-3">
      <p>
        <a class="#" href="#">
          <img class="border" [src] = "imageLogo" alt="">
          <span>Quod si rectum statuerimus vel concedere amicis, quidquid velint, vel impetrare ab iis, quidquid...</span>
        </a>
      </p>
      <p></p>
    </div>
    <div class="article col-md-4 col-lg-3">
      <p>
        <a class="#" href="#">
          <img class="border" [src] = "imageLogo" alt="">
          <span>Quod si rectum statuerimus vel concedere amicis, quidquid velint, vel impetrare ab iis, quidquid...</span>
        </a>
      </p>
      <p></p>
    </div>
    <div class="article col-md-4 col-lg-3">
      <p>
        <a class="#" href="#">
          <img class="border" [src] = "imageLogo" alt="">
          <span>Quod si rectum statuerimus vel concedere amicis, quidquid velint, vel impetrare ab iis, quidquid...</span>
        </a>
      </p>
      <p></p>
    </div>
    <div class="article col-md-4 col-lg-3">
      <p>
        <a class="#" href="#">
          <img class="border" [src] = "imageLogo" alt="">
          <span>Quod si rectum statuerimus vel concedere amicis, quidquid velint, vel impetrare ab iis, quidquid...</span>
        </a>
      </p>
      <p></p>
    </div>
    <div class="article col-md-4 col-lg-3">
      <p>
        <a class="#" href="#">
          <img class="border" [src] = "imageLogo" alt="">
          <span>Quod si rectum statuerimus vel concedere amicis, quidquid velint, vel impetrare ab iis, quidquid...</span>
        </a>
      </p>
      <p></p>
    </div>
    <div class="article col-md-4 col-lg-3">
      <p>
        <a class="#" href="#">
          <img class="border" [src] = "imageLogo" alt="">
          <span>Quod si rectum statuerimus vel concedere amicis, quidquid velint, vel impetrare ab iis, quidquid...</span>
        </a>
      </p>
      <p></p>
    </div>
    <div class="article col-md-4 col-lg-3">
      <p>
        <a class="#" href="#">
          <img class="border" [src] = "imageLogo" alt="">
          <span>Quod si rectum statuerimus vel concedere amicis, quidquid velint, vel impetrare ab iis, quidquid...</span>
        </a>
      </p>
      <p></p>
    </div>
  </div>
  <!-- Liens de pagination -->
  <div class="ma-pagination">
    <app-pagination></app-pagination>
  </div>
</div>
