<div class="player-containter" [ngClass]="{'minimized': minPlayer, 'super-minimized': superMinPlayer}">
  <div class="player-view-controls">
    <i class="material-icons" *ngIf="!minPlayer && !superMinPlayer" (click)="togglePlayer()">arrow_drop_down</i>
    <i class="material-icons arrow_drop_up" *ngIf="minPlayer && !superMinPlayer" (click)="togglePlayer()">arrow_drop_up</i>
    <i class="material-icons minimize" *ngIf="!superMinPlayer" (click)="minimizePlayer()">remove</i>
  </div>
  <div class="main-yt-player-block">
    <i class="material-icons" *ngIf="superMinPlayer" (click)="minimizePlayer()">zoom_out_map</i>
    <div id="yt-player"></div>
  </div>
</div>
